.bg {
  z-index: -10;
  position: fixed;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* overflow-y: scroll; */

  height: 100%;
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),
    url(/images/maf_couch.jpg), url(/images/bg.jpg);
  background-size: cover, contain, cover;
  background-position: center, top, center;
  background-repeat: no-repeat;

  @media (min-width: 1280px) {
    background-size: cover, 90%, cover;
    background-position: center;
  }
}
